@keyframes stretchAnimation {
    0% {
        padding-left: 20px;
        padding-right: 20px;
      border-radius: 0%;
      color: rgb(140 239 255);;
      border: rgb(64, 171, 224) 2px solid;
      background-color: rgb(68, 110, 129);
    }
    100% {
        padding-left: 10px;
        padding-right: 10px;
        aspect-ratio: 1;
      border-radius: 100%;
      color: rgb(30, 161, 30);
      border: rgb(30, 161, 30) 2px solid;
      background-color: rgb(26, 97, 26);
      font-size: 150%;

    }
  }
  @keyframes backanimation {
    0% {
        aspect-ratio: 1;
        border-radius: 100%;
        color: rgb(30, 161, 30);
        border: rgb(30, 161, 30) 2px solid;
        background-color: rgb(26, 97, 26);
        font-size: 2%;
      
    }
    100% {
        
        border-radius: 0%;
        color: rgb(140 239 255);
        border: rgb(64, 171, 224) 2px solid;
        background-color: rgb(68, 110, 129);
    }
  }
svg{
    height: 70vh;
}
#main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:97vh;
}
#problem{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 5vw;
}
#colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.color{
    aspect-ratio: 1;
    width:5vw;
    min-width: 45px;
    margin:0%;
    border: none;
}
#bloodred{
    background-color: rgb(166, 0, 0);
}
#green{
    background-color: rgb(12, 101, 12);
}
#brown{
    background-color: rgb(85, 43, 43);
}
#yellow{
    background-color: rgb(255, 255, 2);
}
#blue{
    background-color: rgb(0, 0, 255);
}
#orange{
    background-color: rgb(255, 165, 0);
}
#lightgreen{
    background-color: rgb(26, 255, 26);
}
#lightblue{
    background-color: rgb(0, 174, 255);
}
#purple{
    background-color: rgb(138, 43, 226);
}
#pink{
    background-color: rgb(255, 0, 230);
}
#white{
    background-color: rgb(255, 255, 255);
}
#lightpink{
    background-color: rgb(255, 138, 232);
}

h1{
    margin:0%;
    font-size: 3rem;
    display: block;
}
#precipitatebtn{
    width:10vw;
    /* background-size: 10vw; */
    aspect-ratio: 1;
    min-width: 60px;
    background-size: cover;
    border: none;
}
body{
    background-color: #414141;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.solcls{
    background-image: url(assets/solution.svg);
}
.pptcls{
    background-image: url(assets/precipitate.svg);
    
}
#check{
    border: rgb(64, 171, 224) 2px solid;
    background-color: rgb(40, 106, 136);
    color: rgb(140 239 255);
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-top: 3px;
    aspect-ratio: 3;
    font-weight: bolder;
    font-size: 100%;
}
.animatedcheck {
    animation: stretchAnimation 1.5s forwards; /* Apply animation */
  }
.animatedcheckbackwards{
    animation: backanimation 1.5s forwards;
}
  #reagent{
    font-size: 20px;
    display: inline-block;
  }
  #credits{
    width: 100vw;
    position: fixed;
    bottom: 0;
    color: #0affcf;
  }
  #email{
    text-decoration: none;
    color: #85ff00;
  }
  #heading{
    display: flex;
    align-items: center;
  }
  #info{
    font-size:xx-large;
    color: rgb(0, 174, 255);
    background: none;
    border: none;
  }
 
    #popup{
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, 0%);
        z-index: 2;
        border: white solid 2px;
    }
    #popupimg{
        width: 35vw;
    }
    #popupbtn{
        position: absolute;
        right:0%;
        aspect-ratio: 1;
        color: rgb(24, 184, 209);
        background: none;
        border: none;
        border-left: white 2px solid;
        border-bottom: white 2px solid;
    }
    @media screen and (max-width: 900px) {
        
    #popupimg{
            width: 55vw;
            aspect-ratio: 1.2;
        }
    }
    @media screen and (max-width: 530px) {
        h1 {
          width: 150px;
        }
        #popup{
            width: 75vw;
            aspect-ratio: 1.2;
        }#popupimg{
            width: 75vw;
            aspect-ratio: 1.2;
        }
    }
#scorediv{
    position:fixed;
    right: 10px;
    top:10px;
}
#sb{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);font-size: larger;font-weight: bolder;color: rgb(255, 0, 0);
}
#fire{
    height: 50px;position: relative;
}